<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pump Proxy - Sign In</title>
    <link rel="stylesheet" href="/pumpproxy/static/signin.css">
    <link rel="icon" href="/pumpproxy/static/favicon.ico">
</head>
<body>
    <div class="login-container">        
        <div class="logo-container">
            <img src="/pumpproxy/static/balloon.png" alt="Logo" class="logo-img">
            <div class="logo-text">
                <p>Pump</p>
                <p>Proxy</p>
            </div>
        </div>
        <button onclick="window.location.href='/pumpproxy/auth'">Sign In</button>
    </div>
</body>
</html>
